@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
}

body {
  background: url(assets/bg.jpg);
  width: 100%;
  height: 100dvh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(15px);
}

/* COMMON CLASSS */
.regular-txt {
  font-weight: 400;
}
/* END COMMON CLASSS */

.main-container {
  width: 300px;
  height: 496px;
  z-index: 9999;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.15),
    rgba(255, 255, 255, 0.15)
  );
  border-radius: 12px;
  backdrop-filter: blur(100px);
  padding: 20px;
}

/* SEARCH SECTION */
.input-container {
  position: relative;
  margin-bottom: 30px;
}

.city-input {
  width: 100%;
  padding: 10px 45px 10px 16px;
  border-radius: 99px;
  outline: none;
  border: 3px solid transparent;
  background: rgba(0, 0, 0, 0.15);
  transition: all 0.25s;
  font-weight: 500;
}

.city-input:focus {
  border: 3px solid rgba(0, 0, 0, 0.15);
}

.city-input::placeholder {
  color: rgb(255, 255, 255, 0.75);
}

.btn-search {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;
}
/* END SEARCH SECTION */

/* WEATHER SECTION */

.weather-info {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.location-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.location-date-container .location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}

.weather-summary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-summary-img img {
  width: 120px;
  height: 120px;
}

.weather-summary-info {
  text-align: end;
}

.weather-condition-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contdition-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.contdition-item span {
  font-size: 30px;
}

.forecast-items-container {
  display: flex;
  align-items: center;
  gap: 15px;
  overflow-x: scroll;
  padding-bottom: 12px;
}

.forecast-items-container::-webkit-scrollbar {
  height: 8px;
}

.forecast-items-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
}

.forecast-items-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
  border-radius: 99px;
}

.forecast-item {
  min-width: 70px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 10px;
  border-radius: 12px;
  transition: all 0.3s;
}

.forecast-item:hover{
    background: rgba(0, 0, 0, 0.15);
}

.forecast-item-img {
  width: 35px;
  height: 35px;
}

/* END WEATHER SECTION */

/* SECTION SEARCH MESSAGE */

.section-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    margin-top: 25%;
}

.section-message .message-img{
    width: fit-content;
    height: 180px;

}

/* END SECTION SEARCH MESSAGE */
